:root {
    --pink: #D00BD4;
    --lightpink: #CA84DB;
    --black: #242323;
    --white: #FFF2FF;
    --favourite: #D00BD4;
    --cinza: #6D6868;
}




b {
    color: var(--favourite);
}


.btn-primary {
    background-color: var(--favourite);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: var(--lightpink);
}


.form-label {
    color: var(--white);
}


#cadastre-se {
    text-align: center;
    margin-top: 20px;
}

#junte-se {
    font-size: 20px;
    color: var(--white);
    margin-bottom: 20px;
}


@media only screen and (max-width: 768px) {
    
    #cadastre-se {
        margin-top: 10px;
    }
    
    #junte-se {
        font-size: 16px;
    }
}

@media only screen and (max-width: 576px) {
    
    #cadastre-se {
        margin-top: 5px;
    }
    
    #junte-se {
        font-size: 14px;
    }
}
