:root {
    --pink: #D00BD4;
    --lightpink: #CA84DB;
    --black: #242323;
    --white: #FFF2FF;
    --favourite: #D00BD4;
    --footer: #1D1D1D;
}

#foto {
    width: 30px;
}

hr {
    border: none;
    border-top: 3px solid var(--black);
    margin: 20px;
}

#drivew {
    color: var(--white);
    font-weight: bolder;
    margin-right: 20px;
    text-decoration: none;
}

#dadoscor {
    width: 200px;
}

.card {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: -30px;
    display: flex;
    margin-left: -50px;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}


.profile-picture {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 10px;
    align-self: flex-start;
}

.name-address {
    margin-left: 10px;
    text-align: left;
    margin-top: -5px
}

h2 {
    margin: 0;
    font-size: 25px;
    margin-bottom: 3px;
}

p {
    margin: 0;
    margin-top: 3px;
}

.button-wrapper {
    padding: 10px;
}

.accept-button {
    background-color: var(--favourite);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.infos {
    margin-left: 0px;
    text-align: left;
}

.bold-black {
    font-weight: bold;
    color: var(--black);
}

.fotopessoa {
    width:90px;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}
