:root {
    --pink: #D00BD4;
    --lightpink: #CA84DB;
    --black: #242323;
    --white: #FFF2FF;
    --favourite: #D00BD4;
    --footer: #1D1D1D;
    --cinza: #6D6868;
}

header {
    background-color: var(--black);
    color: var(--white);
    padding: 1rem;
    text-align: center;
}
.nomeP{
    color:var(--favourite);
    
}
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.search-container input[type="text"] {
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
    border: 1px solid var(--cinza);
    border-radius: 5px;
    font-size: 16px;
}

#searchButton {
    color: var(--white);
    background-color: var(--favourite);
    border: none;
    padding: 0.6rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

#searchButton:hover {
    background-color: var(--pink);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

strong {
    color: var(--cinza);
    font-size: 25px;
}

#corrida-details {
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Transforma a imagem em um círculo */
    margin-right: 20px;
}

.user-details {
    display: flex;
    align-items: center;
}

.name-address {
    text-align: left;
}

h2 {
    margin: 10px 0;
    font-size: 25px;
    color: var(--black);
}

p {
    margin: 5px 0;
    color: var(--black);
}

.button-wrapper {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#accept-corrida {
    width: 100%; /* Adicionado para ocupar toda a largura */
    background-color: var(--favourite);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#accept-corrida:hover {
    background-color: var(--pink);
}

.infos {
    text-align: left;
    width: 100%;
    margin-top: 10px;
}

.bold-black {
    font-weight: bold;
    color: var(--black);
}

hr {
    border: none;
    border-top: 3px solid var(--black);
    margin: 20px 0;
}

@media only screen and (max-width: 768px) {
    .profile-picture {
        width: 80px;
        height: 80px;
    }

    strong {
        font-size: 20px;
    }

    h2 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 425px) {
    .profile-picture {
        width: 60px;
        height: 60px;
    }

    strong {
        font-size: 18px;
    }

    h2 {
        font-size: 20px;
    }

    #header-title {
        display: none; /* Oculta o título do header conforme solicitado */
    }
}
