/* styles.css */

:root {
    --pink: #D00BD4;
    --lightpink: #CA84DB;
    --black: #242323;
    --white: #FFF2FF;
    --favourite: #D00BD4;
    --footer: #1D1D1D;
}
#aceitar{
    
    background-color: var(--black);
    
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
   
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Garante que o contêiner ocupa toda a altura da viewport */
}

#corrida-details {
    width: 400px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.profile-picture {
    width: 90px;
    height: 90px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 10px;
    align-self: flex-start;
}

.name-address {
    margin-left: 10px;
    text-align: left;
    margin-top: -5px;
}

h2 {
    margin: 0;
    font-size: 25px;
    margin-bottom: 3px;
    color: var(--black);
}

p {
    margin: 0;
    margin-top: 3px;
    color: var(--black);
}

.button-wrapper {
    padding: 10px;
    width: 100%;
}

.accept-button {
    background-color: var(--favourite);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.accept-button:hover {
    background-color: var(--lightpink);
}

.infos {
    text-align: left;
    width: 100%;
    margin-top: 10px;
}

.bold-black {
    font-weight: bold;
    color: var(--black);
}

hr {
    border: none;
    border-top: 3px solid var(--black);
    margin: 20px 0;
}
