:root {
    --pink: #D00BD4;
    --lightpink: #CA84DB;
    --black: #242323;
    --white: #FFF2FF;
    --favourite: #D00BD4;
    --footer: #1D1D1D;
}

#aceitar {
    background-color: var(--black);
    width: 700px; 
    margin: 0 auto;
    padding: 20px;
}

#accept-corrida {
    background-color: var(--favourite);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
}

strong{
    color: var(--cinza);
    font-size: 25px;
}

#corrida-details {
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    margin-right: 20px;
}

.user-details {
    display: flex;
    align-items: center;
}

.name-address {
    text-align: left;
}

h2 {
    margin: 10px 0;
    font-size: 25px;
    color: var(--black);
}

p {
    margin: 5px 0;
    color: var(--black);
}

.button-wrapper {
    padding: 10px;
    width: 100%;
}

.accept-button:hover {
    background-color: var(--lightpink);
}

.infos {
    text-align: left;
    width: 100%;
    margin-top: 10px;
}

.bold-black {
    font-weight: bold;
    color: var(--black);
}

hr {
    border: none;
    border-top: 3px solid var(--black);
    margin: 20px 0;
}
#accept-corrida {
    width: 100%; /* Adicionado para ocupar toda a largura */
    background-color: var(--favourite);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.nomeP{
    color: var(--favourite);
    font-size: 30px;
    font-weight: bold;
}