:root {
    --pink: #D00BD4;
    --lightpink: #CA84DB;
    --black: #242323;
    --white: #FFF2FF;
    --favourite: #D00BD4;
    --cinza: #6D6868;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.right {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.rides-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
}
strong{
    color: var(--cinza);
    font-size: 30px;
}
.ride {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ride .profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.ride img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.ride .details {
    text-align: left;
    width: 100%;
}

.ride .details p {
    margin: 0.5rem 0;
}

.select-button {
    background-color: var(--favourite);
    color: var(--white);
    border: none;
    padding: 0.6rem 3rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 20px;
}

.select-button:hover {
    background-color: var(--pink);
}
