:root {
    --pink: #D00BD4;
    --lightpink: #CA84DB;
    --black: #242323;
    --white: #FFF2FF;
    --favourite: #D00BD4;
    --footer: #1D1D1D;
}



.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
    background-color:var(--lightpink);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--black);
}

.profile-details {
    text-align: center;
    margin-top: 15px;
}

.profile-details h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: var(--white);
}

.profile-details p {
    margin: 5px 0;
    font-size: 16px;
    color: var(--white);
}

.rides-container {
    margin: 40px 20px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.rides-container h3 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
}

.rides-container ul {
    list-style: none;
    padding: 0;
}

.rides-container li {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.rides-container li:hover {
    background-color: #f1f1f1;
}

.ride-profile-picture {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #333;
    margin-right: 15px;
}

.ride-details {
    text-align: left;
    flex-grow: 1;
}

.ride-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}
.EditarP {
    color: var(--white);
    background-color: var(--favourite);
    border: none;
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer; 
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.EditarP:hover {
    background-color: #e70074; 
    color: var(--white); 
}
.nome{
    
}