:root {
    --pink: #D00BD4;
    --lightpink: #CA84DB;
    --black: #242323;
    --white: #FFF2FF;
    --favourite: #D00BD4;
    --footer: #1D1D1D;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black);
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
}

header {
    padding: 15px;
    background-color: var(--black);
}

#header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left-content {
    display: flex;
    align-items: center;
}

#header-title {
    color: var(--white);
    font-weight: bolder;
    font-size: 2.7em;
    margin-right: 20px;
    text-decoration: none;
}

#girls {
    text-decoration: none;
    color: var(--pink);
}

#link-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#link-list li {
    display: inline;
    margin: 0 10px;
}

#link-list li a {
    color: var(--white);
    text-decoration: none;
}

#link-list li a:hover {
    color: var(--pink);
}

#right-content {
    display: flex;
    align-items: center;
}

#right-content a {
    color: var(--white);
    text-decoration: none;
    margin-right: 20px;
}

#cadastro-btn {
    padding: 8px 20px;
    background-color: var(--pink);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


#cadastro-btn:hover {
    background-color: var(--lightpink);
}
/*footer*/
footer {
    background-color: var(--footer);
    padding: 20px;
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}

#footer-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

#logo{
    display: flex;
    
}
#logo img {
    max-width: 100px;
    height: auto;
}

#logo p {
    color: var(--white);
    font-size: 20px;
    margin-top: 10px;
}

#social-media {
    color: var(--white);
    margin-top: 20px;
}

#social-media a {
    margin-right: 10px;
    font-size: 30px;
    color: var(--white); /* Cor dos ícones */
    text-decoration: none;
}

#social-media a:last-child {
    margin-right: 0; /* Remove a margem do último ícone para evitar espaço extra */
}

#contact {
    color:var(--white);
    margin-top: 20px;
    text-align: center;
}

#contact p {
    color: var(--white);
    font-size: 20px;
    margin-bottom: 10px;
}
#cadastro-options {
    display: none;
    position: absolute;
    background-color: var(--black);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#cadastro-options ul {
    list-style-type: none;
    padding: 0;
}

#cadastro-options li {
    margin-bottom: 10px;
}


#cadastro-options a:hover {
    color: var(--pink);
}
#side-bar-content {
    display: none; /* Inicialmente oculto */
}

#side-bar-content.show {
    display: block; /* Mostrar quando a classe show estiver presente */
}

/*side bar*/
.sidebar {
    width: 250px;
    height: 100%;
     /* Cor de fundo da barra lateral */
    color: #fff; /* Cor do texto */
    padding: 20px;
    box-sizing: border-box;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
}
/*menu*/

/* Menu */
.menu {
    position: relative;
}

#menu {
    position: absolute;
    z-index: 2;
    top: 0;
    right: -250px; /* Posiciona o menu à direita da tela */
    width: 250px; /* Defina a largura do menu */
    background-color: #333; /* Cor de fundo do menu */
    color: #fff; /* Cor do texto */
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.3s ease; /* Adiciona uma transição suave */
}

#menu.show {
    right: 0; /* Quando a classe show estiver presente, o menu se move para a posição 0 */
}

#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 20px 20px 0; /* Mudei a margem direita para 20px */
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: var(--white);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
}

.nav li a {
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg,
#menu {
    top: 0;
    right: 0; /* Posiciona o menu à direita */
    position: absolute;
    background-color: var(--black);
}



.change {
    display: block;
}

.change .bar {
    background-color: var(--white);
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    
    height: 460px;
    transform: translate(-60%,-30%);
}



@media only screen and (max-width: 768px ) {
    #header-div {
        flex-direction: column;
        align-items: center;
    }

    #left-content {
        margin-bottom: 20px;
    }

    #header-title {
        font-size: 2em;
    }

    #link-list li {
        margin: 0 8px;
    }

    #right-content {
        margin-top: 10px;
    }

    #right-content a {
        margin-right: 10px;
    }

    #cadastro-btn {
        padding: 8px 15px;
    }
}
@media only screen and (max-width: 375px) {
    #header-title {
        font-size: 2em;
    }

    #link-list li {
        margin: 0 5px;
    }

    #cadastro-btn {
        padding: 8px 15px;
    }
}

@media only screen and (max-width: 425px) {
    #header-title {
        font-size: 1.8em;
    }

    #link-list li {
        margin: 0 4px;
    }

    #cadastro-btn {
        padding: 6px 12px;
    }
}

@media only screen and (max-width: 769px) {
    #header-div {
        flex-direction: column;
        align-items: center;
    }

    #left-content {
        margin-bottom: 20px;
    }

    #right-content {
        margin-top: 10px;
    }

    #right-content a {
        margin-right: 10px;
    }

    #cadastro-btn {
        padding: 8px 15px;
    }
}